 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 704px;
}

.u-section-1 .u-products-1 {
  margin: 46px 0 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 554px;
  grid-gap: 10px;
}

.u-section-1 .u-repeater-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 20px 0 0;
}

.u-section-1 .u-image-1 {
  width: 275px;
  left: 0;
  right: auto;
}

.u-section-1 .u-group-1 {
  min-height: 259px;
  width: 270px;
  height: auto;
  margin: 0 0 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto;
}

.u-section-1 .u-product-price-1 {
  margin: 10px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 0;
}

.u-section-1 .u-repeater-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 20px 0 0;
}

.u-section-1 .u-image-2 {
  width: 275px;
  left: 0;
  right: auto;
}

.u-section-1 .u-group-2 {
  min-height: 259px;
  width: 270px;
  background-size: auto;
  height: auto;
  margin: 0 0 0 auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 20px;
}

.u-section-1 .u-text-2 {
  margin: 0 auto;
}

.u-section-1 .u-product-price-2 {
  margin: 10px auto 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 0;
}

.u-section-1 .u-repeater-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 20px 0 0;
}

.u-section-1 .u-image-3 {
  width: 275px;
  left: 0;
  right: auto;
}

.u-section-1 .u-group-3 {
  min-height: 259px;
  width: 270px;
  background-size: auto;
  height: auto;
  margin: 0 0 0 auto;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px 20px;
}

.u-section-1 .u-text-3 {
  margin: 0 auto;
}

.u-section-1 .u-product-price-3 {
  margin: 10px auto 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 0;
}

.u-section-1 .u-repeater-item-4 {
  background-image: none;
}

.u-section-1 .u-container-layout-7 {
  padding: 0 20px 0 0;
}

.u-section-1 .u-image-4 {
  width: 275px;
  left: 0;
  right: auto;
}

.u-section-1 .u-group-4 {
  min-height: 259px;
  width: 270px;
  background-size: auto;
  height: auto;
  margin: 0 0 0 auto;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px 20px;
}

.u-section-1 .u-text-4 {
  margin: 0 auto;
}

.u-section-1 .u-product-price-4 {
  margin: 10px auto 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 625px;
  }

  .u-section-1 .u-products-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 505px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 252px;
  }

  .u-section-1 .u-group-1 {
    min-height: 233px;
    width: 214px;
    height: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-right: 0;
  }

  .u-section-1 .u-image-2 {
    width: 252px;
  }

  .u-section-1 .u-group-2 {
    min-height: 233px;
    width: 214px;
    height: auto;
  }

  .u-section-1 .u-container-layout-5 {
    padding-right: 0;
  }

  .u-section-1 .u-image-3 {
    width: 252px;
  }

  .u-section-1 .u-group-3 {
    min-height: 233px;
    width: 214px;
    height: auto;
  }

  .u-section-1 .u-container-layout-7 {
    padding-right: 0;
  }

  .u-section-1 .u-image-4 {
    width: 252px;
  }

  .u-section-1 .u-group-4 {
    min-height: 233px;
    width: 214px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1345px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 1225px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 27px;
  }

  .u-section-1 .u-image-1 {
    height: 357px;
    margin-top: 0;
    margin-bottom: 0;
    width: auto;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
  }

  .u-section-1 .u-group-1 {
    min-height: 215px;
    margin-top: 5px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 28px;
    padding-bottom: 28px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 27px;
  }

  .u-section-1 .u-image-2 {
    height: 357px;
    margin-top: 0;
    margin-bottom: 0;
    width: auto;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
  }

  .u-section-1 .u-group-2 {
    min-height: 215px;
    margin-top: 5px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 28px;
    padding-bottom: 28px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-bottom: 27px;
  }

  .u-section-1 .u-image-3 {
    height: 357px;
    margin-top: 0;
    margin-bottom: 0;
    width: auto;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
  }

  .u-section-1 .u-group-3 {
    min-height: 215px;
    margin-top: 5px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 28px;
    padding-bottom: 28px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-image-4 {
    height: 357px;
    margin-top: 0;
    margin-bottom: 0;
    width: auto;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
  }

  .u-section-1 .u-group-4 {
    min-height: 215px;
    margin-top: 5px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-8 {
    padding-top: 28px;
    padding-bottom: 28px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-products-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-1 .u-image-1 {
    height: 550px;
    width: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    height: 550px;
    width: auto;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    height: 550px;
    width: auto;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-bottom: 27px;
  }

  .u-section-1 .u-image-4 {
    height: 550px;
    width: auto;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    height: 341px;
    width: auto;
  }

  .u-section-1 .u-image-2 {
    height: 341px;
    width: auto;
  }

  .u-section-1 .u-image-3 {
    height: 341px;
    width: auto;
  }

  .u-section-1 .u-image-4 {
    height: 341px;
    width: auto;
  }
}